<style>
  .image-gallery {overflow: auto; margin-left: -1%!important;}
  .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
  .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
  .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
  .image-gallery li a img {width: 100%; display: block;}
</style>

{{- $dir := .Get "gallery_dir" -}}
{{- $dir_parts := split $dir "/" -}}
{{- $data_gallery := index $dir_parts 2 -}}

{{- $metadata := dict -}}
{{- $path := (printf "%s/metadata.json" $dir) -}}
{{- with resources.Get $path -}}
  {{ with . | transform.Unmarshal -}}
    {{- $metadata = . -}}
  {{- end -}}
{{- end -}}

<ul class="image-gallery">
  {{- $images := resources.Match (printf "%s/*.{jpg,jpeg,webp,png}" $dir) -}}
  {{- range $image := $images }}
    {{- $parts := split $image "/" -}}
    {{- $filename := index $parts 3 -}}
    {{- $caption := (index $metadata $filename).caption -}}
    <li>
      <a href="{{ $image.RelPermalink }}" class="glightbox" data-gallery="{{ $data_gallery }}" title="{{ $caption }}">
        <img src="{{ ($image.Fill "300x300").RelPermalink }}" alt="{{ $caption }}" title="{{ $caption }}">
      </a>
    </li>
  {{ end }}
</ul>
