<style>
  .image-gallery {overflow: auto; margin-left: -1%!important;}
  .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
  .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
  .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
  .image-gallery li a img {width: 100%; display: block;}
</style>

{{- $dir := .Get "gallery_dir" -}}
<ul class="image-gallery">
  {{- $images := resources.Match (printf "%s/*.{jpg,jpeg,webp,png}" $dir) -}}
  {{- range $images }}
    <li>
      <a href="{{ .RelPermalink }}" class="glightbox" data-gallery="my-gallery-2">
        <img src="{{ (.Fill "300x300").RelPermalink }}">
        <!-- <img src="{{ (.Fill "300x300").RelPermalink }}"> -->
      </a>
    </li>
  {{ end }}
</ul>
